<mat-card class="pedido-card">
    <h2>Caixa</h2>
    <mat-tab-group>
        <mat-tab label="Abertura / Fechamento Caixa">
            <form [formGroup]="AFCaixaForm" (ngSubmit)="salvarAFCaixa()">
                <br/>
                <mat-form-field class="preco-width">
                <mat-label>Saldo</mat-label>
                <input matInput formControlName="txtsaldo" readonly>
                </mat-form-field>
                &nbsp;
                <button mat-raised-button color="accent" type="submit">
                  {{ !statusCaixa ? 'Carregando...' : 
                    (statusCaixa.isopened ? 'Fechar Caixa' : 'Abrir Caixa')
                    }}
                </button>
            </form>
        </mat-tab>
        <mat-tab label="Sangria / Suprimento">
            <div class="p-4">
                <form [formGroup]="SSCaixaForm" (ngSubmit)="salvarMovimento()">
                    <br/>
                    <mat-form-field class="valor-width">
                        <mat-label>Valor </mat-label>
                        <input matInput formControlName="txtvalor" type="number">
                    </mat-form-field>
                    &nbsp;
                    <mat-form-field class="obs-width">
                        <mat-label>Observações</mat-label>
                        <input matInput formControlName="obs" />
                    </mat-form-field>
                    &nbsp;
                    <button mat-raised-button color="accent" type="submit" [disabled]="SSCaixaForm.invalid">
                    Salvar
                    </button>
                    *Utilizar sinal negativo (-) para sangria
                </form>
            </div>
        </mat-tab>
        <mat-tab label="Lançamentos">
            <div class="p-4">
                <form [formGroup]="LancamentosForm" (ngSubmit)="salvarLancamento()">
                    <br/>
                    <mat-form-field class="full-width">
                    <mat-label>Meio de Pagamento</mat-label>
                    <mat-select formControlName="meioPagamento"> 
                        <mat-option *ngFor="let meioPagamento of meiosPagamento" [value]="meioPagamento.id">
                            {{ meioPagamento.nome }}
                        </mat-option>
                    </mat-select>
                    </mat-form-field>

                    <mat-form-field class="full-width">
                    <mat-label>Plano de Conta</mat-label>
                    <mat-select formControlName="planoConta">
                        <mat-option *ngFor="let planoConta of planoContas" [value]="planoConta.id" >
                        {{ planoConta.nome }} - {{ planoConta.tipo ? 'Débito' : 'Crédito' }}
                        </mat-option>
                    </mat-select>
                    </mat-form-field>
                    
                    <mat-form-field class="full-width">
                        <mat-label>Valor </mat-label>
                        <input matInput formControlName="txtvalor" type="number">
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <mat-label>Observações</mat-label>
                        <input matInput formControlName="obs" />
                    </mat-form-field>

                    <button mat-raised-button color="accent" type="submit" [disabled]="LancamentosForm.invalid">
                    Salvar
                    </button>

                </form>
            </div>
        </mat-tab>
    </mat-tab-group>

</mat-card>