<mat-card>
    <h2>Caixa</h2>
    <mat-tab-group>
        <mat-tab label="Abertura / Fechamento Caixa">
            <form [formGroup]="AFCaixaForm" (ngSubmit)="salvarAFCaixa()">
                <br/>
                <mat-form-field class="preco-width">
                <mat-label>Saldo</mat-label>
                <input matInput formControlName="txtsaldo" readonly>
                </mat-form-field>
                &nbsp;
                <button mat-raised-button color="accent" type="submit">
                  {{ !statusCaixa ? 'Carregando...' : 
                    (statusCaixa.isopened ? 'Fechar Caixa' : 'Abrir Caixa')
                    }}
                </button>
            </form>
        </mat-tab>
        <mat-tab label="Sangria / Suprimento (Do Dia)">
            <div class="p-4">
                <form [formGroup]="SSCaixaForm" (ngSubmit)="salvarMovimento()">
                    <br/>
                    <mat-form-field class="valor-width">
                        <mat-label>Valor </mat-label>
                        <input matInput formControlName="txtvalor" type="number">
                    </mat-form-field>
                    &nbsp;
                    <mat-form-field class="obs-width">
                        <mat-label>Observações</mat-label>
                        <input matInput formControlName="obs" />
                    </mat-form-field>
                    &nbsp;
                    <button mat-raised-button color="accent" type="submit" [disabled]="SSCaixaForm.invalid">
                    Salvar
                    </button>
                    *Utilizar sinal negativo (-) para sangria
                </form>
            </div>
        </mat-tab>
        <mat-tab label="Transferências">
            <div class="p-4">
            </div>
        </mat-tab>
        </mat-tab-group>

</mat-card>