<mat-card>
    <h2>Relatórios</h2>
    <mat-tab-group>
        <mat-tab label="Caixa (Do Dia)">
            <div class="p-4">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mt-4">

                    <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>ID</th>
                    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
                    </ng-container>

                    <ng-container matColumnDef="nome">
                    <th mat-header-cell *matHeaderCellDef>Caixa</th>
                    <td mat-cell *matCellDef="let element">{{ element.nome }}</td>
                    </ng-container>

                    <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef>Total</th>
                    <td mat-cell *matCellDef="let element">{{ element.total | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="['id', 'nome', 'total']"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['id', 'nome', 'total'];"></tr>
                </table>
            </div>
        </mat-tab>
        <mat-tab label="À Prazo (Do Dia)">
            <div class="p-4">
                <table mat-table [dataSource]="dataSource2" class="mat-elevation-z8 mt-4">

                    <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>ID</th>
                    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
                    </ng-container>

                    <ng-container matColumnDef="nome">
                    <th mat-header-cell *matHeaderCellDef>Cliente</th>
                    <td mat-cell *matCellDef="let element">{{ element.clienteNome }}</td>
                    </ng-container>

                    <ng-container matColumnDef="total">
                    <th mat-header-cell *matHeaderCellDef>Total</th>
                    <td mat-cell *matCellDef="let element">{{ element.total | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="['id', 'nome', 'total']"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['id', 'nome', 'total'];"></tr>
                </table>
            </div>
        </mat-tab>

        </mat-tab-group>

</mat-card>