<mat-sidenav-container class="main-container">
  <mat-sidenav #sidenav mode="side" [opened]="menuAberto">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="clientes">
        <mat-icon>person</mat-icon> Clientes
      </a>
      <a mat-list-item routerLink="produtos">
        <mat-icon>store</mat-icon> Produtos
      </a>
      <a mat-list-item routerLink="pedidos">
        <mat-icon>shopping_cart</mat-icon> Pedidos
      </a>
      <a mat-list-item routerLink="relatorios">
        <mat-icon>report</mat-icon> Relatórios
      </a>
      <a mat-list-item routerLink="funcionarios">
        <mat-icon>group</mat-icon> Funcionários
      </a>
      <a mat-list-item routerLink="meios-pagamento">
        <mat-icon>payment</mat-icon> Meios de Pagamento
      </a>
      <!-- <a mat-list-item routerLink="fornecedores">
        <mat-icon>payment</mat-icon> Fornecedores
      </a>
      <a mat-list-item routerLink="fornecedores">
        <mat-icon>payment</mat-icon> Plano de Contas
      </a> -->
      <a mat-list-item routerLink="/login">
        <button mat-button (click)="logout()">Sair</button>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="alternarMenu()">
        <mat-icon>{{ menuAberto ? 'chevron_left' : 'menu' }}</mat-icon>
      </button>
      <span>GREGO DISTRIBUIDORA DE OVOS LTDA</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="alternarTema()">
        <mat-icon>{{ temaEscuro ? 'dark_mode' : 'light_mode' }}</mat-icon>
      </button>
    </mat-toolbar>    
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
